* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --mainColor: #f57224;
  --whiteColor: #fff;
  --blackColor: #000;
  --lightDark: #222;
}

body {
  font-family: "Lato", sans-serif;
}

nav {
  width: 100%;
  height: 70px;
  line-height: 70px;
  padding: 0 100px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 1);
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  background: white;
  z-index: 9999;
}
nav ul {
  list-style: none;
}
nav ul a {
  text-decoration: none;
}

.left {
  text-align: left;
}
.left a {
  font-weight: 700;
  color: var(--mainColor);
  font-size: 23px;
}
.right {
  text-align: right;
}
.shoppingCart i {
  font-size: 25px;
  display: inline-block;
  color: var(--lightDark);
}
.cartCount {
  display: inline-block;
  width: 35px;
  height: 35px;
  background: var(--mainColor);
  color: var(--whiteColor);
  border-radius: 50%;
  line-height: 35px;
  text-align: center;
}

.container {
  width: 100%;
  padding: 0 100px;
}

/* banner style */
header {
  width: 100%;
  background: url("./assets/backkground.jpg");
  height: 250px;
  margin-top: 70px;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;

  color: white;
}

/* products styles*/
.products {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.product {
  width: 25%;
  padding: 0 12px;
  margin: 20px 0;
  overflow: hidden;
  position: relative;
}

.hot {
  position: absolute;
  top: 0;
  background: orangered;
  padding: 5px 20px;
  color: var(--whiteColor);
}
.new {
  position: absolute;
  top: 0;
  background: greenyellow;
  padding: 5px 20px;
  color: var(--blackColor);
}
.product-image {
  width: 100%;
  height: 200px;
  overflow: hidden;
}

.product-details {
  padding: 15px 10px;
  text-align: center;
  background: var(--whiteColor);
}

.product-name {
  font-size: 20px;
  font-weight: 500;
  margin: 12px 0;
}
.product-price {
  font-size: 20px;
  font-weight: 300;
  margin: 12px 0;
}

.add-to-cart {
  background: var(--mainColor);
  padding: 10px 20px;
  width: 100%;
  color: var(--whiteColor);
  text-transform: uppercase;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
}

/* Not Found */
.not-found {
  margin-top: 100px;
}

/*cart styling*/
.cart-container {
  width: 100%;
  margin-top: 70px;

  padding: 0 100px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.cart-details {
  width: 75%;
  border: 1px solid #fafafa;
  border-radius: 5px;
}
.cart {
  display: flex;
  align-items: center;
  background: var(--whiteColor);
  padding: 15px 20px;
}
.cart-image {
  display: inline-block;
  width: 90px;
  height: 90px;
  border-radius: 5px;
  overflow: hidden;
}
.cart-image img {
  width: 100%;
  height: 100%;
}
.cart-product-name {
  width: 150px;
  padding: 0 15px;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
}
.cart-product-price {
  display: inline-block;
  width: 120px;
  padding: 0 15px;
  text-align: center;
  font-weight: bold;
  color: rgb(104, 62, 34);
}

.increment {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border: 1px solid green;
  font-size: 14px;
  color: green;
  border-radius: 3px;
  cursor: pointer;
}
.decrement {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border: 1px solid red;
  font-size: 14px;
  color: red;
  border-radius: 3px;
  cursor: pointer;
}

.product-quantity {
  display: inline-block;
  padding: 0 15px;
  font-size: 15px;
  width: 70px;
  text-align: center;
}
.product-total-price {
  display: inline-block;
  width: 100px;
  padding: 0 15px;
  text-align: center;
}
.delete-product {
  border: none;
  color: red;
  cursor: pointer;
}

/*cart summery*/

.cart-summary {
  width: 25%;

  align-items: center;
  padding-top: 6px;
  margin-top: 30px;
}
.summary {
  background: rgb(23, 4, 44);
  padding: 5px;
  color: rgb(223, 201, 201);
}
.summary h3 {
  font-size: 18px;
  font-weight: normal;
  border-bottom: 1px solid #999;
  padding-bottom: 8px;
}
.total-items {
  display: flex;
  margin: 15px 0;
}
.items {
  width: 50%;
  text-align: left;
  font-weight: normal;
}
.items-count {
  width: 50%;
  text-align: right;
  font-weight: bold;
  color: var(--mainColor);
}
.total-price-section {
  display: flex;
  margin: 15px 0;
}
.just-title {
  width: 50%;
  text-align: left;
  font-weight: normal;
}
.items-price {
  width: 50%;
  text-align: right;
  font-weight: bold;
  color: var(--mainColor);
}
.empty {
  padding: 10px 20px;
}

/*MEDIA QUERY*/

@media (max-width: 765px) {
  .headerText {
    padding: 0 15px;
  }
  .headerText h1 {
    font-size: 20px;
  }
  .products {
    flex-direction: column;
  }
  .product {
    width: 100%;
  }
  .cart-container {
    flex-direction: column;
  }
  .cart {
    flex-direction: column;
  }
  .cart-details {
    width: 100%;
  }
  .cart-image {
    padding: 15px 0;
  }
  .cart-product-name {
    padding: 15px 0;
    text-align: center;
  }
  .cart-product-price {
    padding: 15px 0;
  }
  .product-quantity {
    padding: 15px 0;
  }
  .product-total-price {
    padding: 15px 0;
  }
  .cart-summary {
    width: 100%;
  }
}
